body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: .32px;
    background-color: #FFF;
    color: #434455;
}

footer {
    background-color: #2E2F42;
    color: #F4F4FD;
    padding: 100px 8.6%;
}

header {
    color: #2E2F42;
    width: 100%;
    align-items: center;
    display: inline-flex;
    height: 72px;
    border-bottom: 1px solid #E7E9FC;
    display: flex;
    justify-content: space-around;
}

h1 {
    font-weight: bold;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 1.12px;
    width: 516px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-weight: bold;
    font-size: 36px;
    letter-spacing: .72px;
    color: #2E2F42;
    margin-bottom: 72px;
    text-align: center;
}

h3 {
    font-weight: medium;
    font-size: 20px;
    letter-spacing: .4px;
    color: #2E2F42;
}

button {
    border: none;
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    letter-spacing: .64px;
    padding: 16px 32px;
}

a {
    text-decoration: none;
    color: #2E2F42;
}

nav a {
    font-weight: 500;
    color: #2E2F42;
}

nav>ul {
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
}

ul {
    list-style-type: none;
}

.logo {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: inherit;
    height: 24px;
    flex-shrink: 0;
}

.blue-logo {
    color: #4D5AE5;
}

.main-page {
    background-color: #2E2F42;
    color: #FFF;
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
}

#values-page, .portfolio-page {
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-page {
    background-color: #F4F4FD;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
}

.flexbox {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.flexbox-entity {
    width: 264px;
}

.team-page div {
    display: inline-flex;
    flex-direction: column;
    background-color: #FFF;
    padding-bottom: 8px;
}

.footer-text {
    width: 264px;
}

.header-flexbox {
    display: inline-flex;
    align-items: center;
    gap: 76px;
}

.portfolio-page .flexbox {
    flex-wrap: wrap;
}

.portfolio-page-entity {
    border: 1px solid #E7E9FC;
}

.portfolio-page-entity .card-content {
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 32px;
}