/* General */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    letter-spacing: .02em;
    background-color: #FFF;
    color: #434455;
}

a {
    text-decoration: none;
    color: #2E2F42;
}

nav a {
    font-weight: 500;
}

address {
    font-style: normal;
}

ul {
    list-style-type: none;
    padding-left: 0px;
    margin: 0px;
}


/* Logo design */
.logo {
    letter-spacing: .03em;
    line-height: 1.17;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4D5AE5;
    height: 24px;
    margin-right: 76px;
}

.black-logo {
    color: #2E2F42;
}

.footer .black-logo {
    color: #F4F4FD;
}

/* Active and hover designs */
button:hover, button:active, button:focus {
    background: #404BBF;
}

a:hover, a:active, a:focus {
    color: #404BBF;
}

a:active {
    text-decoration: underline;
}

address > a:focus {
    color: #404BBF;
}

.nav-item:hover {
    /* line */
    border-bottom: 4px solid #404BBF;
}

/* Container */
.container {
    width: 1158px;
    margin: auto;
    padding: 24px 15px 24px;
}

/* Header desings */
.header {
    color: #2E2F42;
    border-bottom: 1px solid #E7E9FC;
    text-align: center;
    padding-left: 120px;
    padding-right: 120px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.header-list {
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
}

.header-flexbox {
    display: inline-flex;
    align-items: center;
    gap: 76px;
}

.nav-item {
    padding-bottom: 24px;
    /* animation */
    transition-duration: .5s;
    transition-property: color, border;
}

.address-link {
    color: #434455;
}

/* General section designs */
.section-heading {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: .02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
    text-align: center;
}

.card-heading {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: .02em;
    color: #2E2F42;
    margin-top: 0px;
    margin-bottom: 8px;
}

.card-text {
    margin: 0px auto;
}

.card-content {
    padding: 32px 0;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.flexbox {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.flexbox-entity {
    width: calc((100% - 3 * 24px) / 4);
    display: flex;
    flex-direction: column;
}

/* Main page (first section) designs */
#main-page {
    background-color: #2E2F42;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/people-office.jpg);
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: #FFF;
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
}

.main-page-h {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: .02em;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.main-page-btn {
    display: block;
    min-width: 169px;
    border: none;
    border-radius: 4px;
    letter-spacing: .04em;
    background-color: #4D5AE5;
    color: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    margin-right: auto;
    margin-left: auto;
}

/* Values page (second section) designs */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Team page (third section) designs */
#team-page {
    background-color: #F4F4FD;
    text-align: center;
}

#team-page .card-heading, #team-page .card-text {
    text-align: center;
}

#team-page li {
    display: inline-flex;
    flex-direction: column;
    background-color: #FFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* Portfolio page (fourth section) designs */
#portfolio-page .flexbox {
    flex-wrap: wrap;
    row-gap: 48px;
}

.portfolio-page-entity {
    width: calc((100% - (2 * 24px)) / 3);
    display: flex;
    flex-direction: column;
}

#portfolio-page .card-content {
    border: 1px solid #E7E9FC;
    border-top: none;
    padding: 32px 16px;
}
/* Decorative ovrlay design */
.box {
    position: relative;
    width: 360px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;

    transform: translateX(100%);
    transition: transform 1s ease-in-out;
}

.overlay p {
    color: #F4F4FD;
    padding: 40px 32px;
}

.box:hover .overlay {
    transform: translateX(0);
}

/* Footer designs */
.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
    padding: 100px 0;
}

.footer .logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer p {
    max-width: 264px;
    margin-top: 0px;
}